*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #70FF7E;
}
.kok{
    width: 400px;
    background-color: #001EBD;
    text-align: center;
    padding: 26px 0;
    border-radius: 20px;
    margin: 31px auto;
}

.kok > h2{
    font-size: 48px;
    color: white;
    font-family: Inter;
}

.svetafor >center>div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}






.svetafor{
    margin: 0 auto;
    background-color: black;
    width: 451px;
    padding: 69px 0;
    border-radius: 20px;
    margin-bottom: 20px;   
}
.sariq{
    margin: 20px 0;
    background-color: yellow;
}

.qizil{
background-color: red;
}

.yashil{
    background-color: rgb(5, 254, 5);
}